@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>Risk Assessments</h3>

<p>
    <i>
        "With the increasing breadth and depth of cyber attacks on federal information systems 
        and the U.S. critical infrastructure, risk assessments provide important information to 
        guide and inform the selection of appropriate defensive measures so organizations can 
        respond effectively to cyber-related risks."
    </i>
    <br />~Ron Ross, NIST Fellow
</p>
<p>
    Performing Risk Assessments provides an awareness of the threats and vulnerabilities to a 
    system that allow the organization to provide custom mitigations tailored to a specific system.
</p>
<h3>RAR Generator</h3>
<p>
    This Risk Assessment Report Generator will guide you through the process and collect relevant data to incorporate in a final report.
</p>
<h3>Important Notes</h3>
<p>
    Some important notes before proceeding:
    <ul>
        <li>This is NOT a government system.</li>
        <li>This system is NOT acrredited by anyone.</li>
        <li>UNDER NO CIRCUMSTANCES SHOULD CLASSIFIED INFORMATION BE PROCESSED THROUGH THIS SYSTEM</li>
        <li>Information input into this system is NOT stored on this system; any information you want to save must be saved locally to your computer.
        <li>Use of the RAR Generator is USE AT YOUR OWN RISK.</li>
    </ul>

</p>