@model dynamic;

@{
    ViewBag.Title = "GenerateRAR";
    //Layout = "~/Views/Shared/_RARGeneratorLayout.cshtml";

}

<h2>Generate RAR</h2>

<p>There will be a download button here to generate the RAR per template.</p>

