@model RARGenerator.Models.SessionViewModel

@{
    ViewBag.Title = "NewOrUpload";
    Layout = "~/Views/Shared/_RARGeneratorLayout.cshtml";
}

<h2>New Or Upload</h2>

<p>Start a new RAR or Upload a saved RAR .xml file</p>

<div>
    <a href="@Url.Action("Facility", "RARGenerator")" class="btn btn-default">Next &raquo;</a>
</div>

