
@{
    ViewBag.Title = "ReviewAnalysis";
    Layout = "~/Views/Shared/_RARGeneratorLayout.cshtml";
}

<h2>Review & Analysis</h2>

<p>We're gonna do some kind of review and analysis of the RAR here prior to outputting.</p>

